* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
 /* width: 50%;*/
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div#btnContainer {
    margin-top: 15px;
}
.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.column.col-md-3 {
    border: 1px solid;
    color: unset;
    border-color: darkgray;
    padding-left: inherit;
}
span {
    padding-left: initial;
    display: table-footer-group;
    display: table;
}
a.logo {
    color: azure;
    font-size: medium;
}
select#pref-perpage {
    padding-left: 50px;
    padding-right: 50px;
}
.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}
button.btn.btn-primary {
   padding-left: 76px;
   }
